:root {
    --fontFamily: 'Signika', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    position: relative;
    /*  Always do this */
}

body {
    min-height: cal(100% - 80px);
    /* 100% of the height minus the footer's height */
    position: relative;
    padding-bottom: 80px;
    /* set this to the height of your footer */
}


/*Header Section */
header {
    padding: 20px 0 0 10px;
    background-image: url(images/paper_fibers_@2X.png);
    background-position: top;
    width: 100%;

}

hr {

    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(46, 139, 87, 0.75), rgba(0, 0, 0, 0));
}

h1 {
    font-family: var(--fontFamily);
    color: rgb(46, 139, 87);
}

nav ul {
    padding-top: 5px;
    padding-right: 20px;
    text-align: right;

}

nav ul li {
    bottom: 0;
    list-style: none;
    display: inline-block;
    /*background-color: rgb(46,139,87); */
    border-bottom: 3px solid rgb(46, 139, 87);
    padding: 0 5px;
    border-radius: 8px;

}

nav ul li a {

    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-family: var(--fontFamily);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
}

nav ul li a:hover {
    color: #fff;
    background-color: rgb(46, 139, 87);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}

nav ul li:hover {
    border-bottom: none;
}

section {
    font-family: var(--fontFamily);
    font-size:  17px; 
    padding: 15px 15px 15px 15px;
}

/*meida_text */

/* aside.media_text div:first-of-type {
    padding: 40px;
    height: 100%;
    width: 100%;
}
*/

aside.media_text div {
    background-color: #8F9779;
}


/*media_Tran */

aside.media_Tran div p {
    color: #4d4d4d;

}

aside.media_Tran div {
    background-color: #8F9779;
}

/* aisde genral code*/

.out{
    padding: 20px 20px 20px 20px; 
}
.medi{
    background-image: url(images/paper_fibers_@2X.png);
    padding: 40px;
    height: 100%;
    width: 30%;
    float: right;
    border-radius: 8px; 
}

 /* images in aside div's tag created */

.im{
    box-shadow: 10px 10px 5px #181818;
    border-radius: 4px;
}

/*  h3: general Code */

h3{
  color: #000;
    font-size: 26px;
    font-weight: bold;
    
}

/* mission Section */
.mission {
    position: relative;
    background-color: #fff;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;

}

.newspaper {
    background-color: #fff;

}

.new {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
}

/* General code for h2 */
h2 {
    text-align: center;
}

/*aside general text */
aside {
    box-sizing: border-box;
}

/* btn general code*/
.btn {
    width: 50%; 
    padding: 10px 10px; 
    border-radius: 8px; 
    text-align: center;
    text-decoration: none;
    
  
}


/*Footer Section */

footer {
    display: grid; 
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 0;
    background-image: url(images/paper_fibers_@2X.png);
}

footer ul,
li a {
    list-style: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

footer ul {
    text-align: right;
}


