* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    position: relative; /*  Always do this */
}

body{
    min-height: cal(100% - 80px); /* 100% of the height minus the footer's height */
    position: relative; 
    padding-bottom: 80px; /* set this to the height of your footer */
}


/*Header Section */
header{
    padding: 20px 0 0 0; 
    background-image: url(images/paper_fibers_@2X.png);
    background-position: top;
    width: 100%;
    
}
h1{
    color: rgb(46,139,87);
}
nav ul {
    text-align: right;
   
}
nav ul li{
    bottom: 0;
    list-style: none;
    display: inline-block;
    /*background-color: rgb(46,139,87); */
    border-bottom: 3px solid rgb(46,139,87);
    padding: 0 5px;
    border-radius: 8px; 

}
 
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px; 
}

nav ul li a:hover{
    color: #fff; 
    background-color: rgb(46,139,87);
    padding-left: 5px; 
    padding-right: 5px;
    border-radius: 8px; 
}

nav ul li:hover{
    border-bottom: none;
}
/* mission Section */
.mission{
    position: relative;
    background-color: #D0F0C0; 
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    
}
.newspaper{
    background-color:#A9BA9D;
    column-count:3; 
    column-gap: 40px; 
    column-rule-style: solid; 
    column-rule-width: 1px; 
}


/*Footer Section */

footer{
   left: 0; 
    right: 0; 
    bottom: 0;
    margin: 0 0;
    background-color:#9dc183;
    
    
}

footer ul, li a {
    list-style: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

footer ul{
    text-align: right; 
}
footer ul li{
    display: inline-block;
}